body{
    margin:0;
    background:#dcdcdc;
    font-family:initial;
}

/* Barra superior */
header{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
}

footer {
    background:black;
    color:white;
    text-align:center;
    padding:15px;
}

/* Contenedor de los cuadros */
.contenedor{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
    flex-wrap:wrap; /* evita que se rompa el diseño */
}

/* Tarjetas */
.cuadro{
    background:#e6e6e6;
    width:420px;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.3);
}

/* Campos */
.campo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

input{
    width:180px;
    padding:5px;
}

/* Botón */
.boton{
    text-align:center;
    margin-top:40px;
}

button{
    padding:10px 25px;
    font-size:16px;
    cursor:pointer;
}



/* ----------- RESPONSIVE ----------- */

@media (max-width: 768px){

    .contenedor{
        flex-direction:column;
        align-items:center;
        gap:20px;
        padding:10px;
    }

    .cuadro{
        width:90%;
        padding:20px;
    }

    .campo{
        flex-direction:column;
        align-items:flex-start;
        gap:8px;
    }

    input{
        width:100%;
        padding:8px;
    }

    button{
        width:80%;
        font-size:18px;
    }

    header, footer{
        padding:12px;
    }
}