
/* ----------- RESPONSIVE ----------- */

@media (max-width: 768px){

    .contenedor{
        flex-direction:column;
        align-items:center;
        gap:20px;
        padding:10px;
    }

    .cuadro{
        width:90%;
        padding:20px;
    }

    .campo{
        flex-direction:column;
        align-items:flex-start;
        gap:8px;
    }

    input{
        width:100%;
        padding:8px;
    }

    button{
        width:80%;
        font-size:18px;
    }

    header, footer{
        padding:12px;
    }
}
